/* DESKTOP */

@media screen and (min-width: 1000px) {
    .buttontop {
        width: 50px;
        height: 50px;
        display: block;
        position: fixed;
        bottom: 40px;
        right: 25px;
        opacity: 1;
        z-index: 5;
        filter: opacity(0.9);
    }
    
    .buttontop i {
        background: #01749a;
        background-size: 15px 4px;
        color: #fff;
        padding: 16px 18px;
        border-radius: 50px;
    }

    .buttontop:hover {
        cursor: pointer;
        opacity: 0.8;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
}



/* TABLET */
@media screen and (max-width: 999px) {
    .buttontop {
        width: 50px;
        height: 48px;
        display: block;
        position: fixed;
        bottom: 45px;
        right: 5px;
        opacity: 1;
        z-index: 5;
        filter: opacity(0.9);
    }
    
     .buttontop i {
        background: #01749a;
        background-size: 15px 4px;
        color: #fff;
         padding: 16px 18px;
        border-radius: 50px;
    }

    .buttontop:hover {
        cursor: pointer;
        opacity: 0.8;
        -moz-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
    }
}
