/* ====== RESET ======== */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: 100%;
}


body {
    background: #ffffff;
    font-size: 16px;
}


.container-fluid {
    max-width: 1140px;
}


.color-primary {
    background: #01749a !important;
}


.sub-titulo::after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    background: #01749a;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 1.5em;
}


h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background: #01749a;
    margin-top: 5px !important;
}



/* MARGIN ENTRE SECTION */

.margin-all {
    margin-top: 4em;
}

@media screen and (max-width: 767px) {
    .margin-all {
        margin-top: 2em !important;
    }
    
    h2 {
        margin-top: 15px !important;
    }
    
    h2::after {
        margin: 0 auto;
        margin-bottom: 15px;
    }
}


/* DIV COM EFEITO */
.efeito-direita {
    width: 40%;
    height: 25px;
    position: absolute;
    bottom: -25px;
    right: 0px;
    border-style: solid;
    border-color: rgba(255, 0, 0, 0) white rgba(0, 0, 255, 0) rgba(255, 204, 0, 0);
    border-width: 100px 1920px 20px 50px;
}


/* CLASSES MENU FIXO E ATIVO */

.menu-active {
    font-weight: bold;
}

.menu-fixo {
    position: fixed;
    z-index: 10;
    padding-top: .0em !important;
    padding-bottom: .0em !important;
}

.no-padding {
    padding-top: .5em !important;
    padding-bottom: .5em !important;
}



